@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
/* About */
.about-div{
    
    position: relative;
    width: 411px;
    height: 823px;
    

    background: #FFFFFF;
}


/* About */
.about-font{

    position: absolute;
    width: 1%;
    height: 68px;
    left: 2%;
    top: 30%;
    
    font-family: 'Julius';
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 2em;

    color: #000000;
}

/*Rectangle 28*/

.grey-rectangle-div{

    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    top: 1%;

    
    background: #C4C4C4;
}


/* Polygon 3 */

/* position: absolute;
width: 39px;
height: 37px;
left: 354px;
top: 57px;

background: #000000;
transform: rotate(-90deg); */

/*Upper content div bar*/

.upper-content-font{
    
    position: absolute;
    width: 372px;
    height: 58px;
    left: 12px;
    top: 374px;
    
    font-family: 'Julius';
    font-style: normal;
    font-weight: normal;
    font-size: 1.1em;
    line-height: 1.1em;
    letter-spacing: 0.015em;
    
    color: #000000;

}

/*Lower content div bar*/

.lower-content-div{

    position: absolute;
    width: 371px;
    height: 135px;
    left: 12px;
    top: 473px;
    
    font-family: 'Julius';
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1em;
    
    color: #000000;
}

/* Rectangle 7 */
.white-rectangle-div{
    position: absolute;
    width: 411px;
    height: 118px;
    left: 0px;
    top: 705px;
    
    background: #C4C4C4;

}

/* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non eros sagittis, auctor neque sit amet, blandit lorem. Etiam molestie semper mi, ac lacinia justo vulputate quis. Morbi id auctor nibh. Morbi vestibulum bibendum urna id sollicitudin. Suspendisse eu molestie nulla. Maecenas ut convallis ante, eu pretium orci. Cras sed ex massa. Eeey macarena Curabitur odio massa, ultricies at euismod ut, bibendum non tellus. */


