.review-square{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10vw;
  padding: 2vw;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.thank-you-text{
  color: rgb(65, 140, 191);
  margin: 4vw 0vw;
}

.booking-id-h3{
  background: #418CBF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: white;
  padding: 1vw 0vw;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.booking-id-title, .travel-date-title, .itinerary-title{
  color: rgb(210,210,210);
  font-size: 24px;
  line-height: 28px;
}

.travel-detail-div{
  margin-top: 2vw;
  background: #3b8bc0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: white;
  padding: 0vw 0vw;

}

.price{
background: #26375C;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
padding-bottom: 4vw;
align-items: center;
}

.itinerary{
  margin-bottom: 2vw;
  padding: 2vw;
  padding-top: 0vw;
}

.travel-split-up{
  background-color: rgb(65, 140, 191);
  border: 1px  rgb(50, 129, 182) solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 2vw;
}

.departure-and-destination-div{
  text-align: left;
font-size: 24px;
line-height: 28px;

}

.departure-details-div, .destination-details-div{
  text-align: left;
  flex-wrap: wrap;
flex-direction: row;
align-items: flex-start;
}