.review-square{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2vw;
  padding: 2vw;
  text-align: center;
  background: #FFFFFF;
  font-style: normal;
  font-weight: normal;
}

.thank-you-text{
  color: rgb(65, 140, 191);
  margin: 4vw 0vw;
}

.booking-id-h3{
  background: #418CBF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: white;
  padding: 1vw 0vw;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 2vw 5vw;
  margin-bottom: 7vw;
}

.booking-id-title, .travel-date-title, .itinerary-title, .email-title, .name-title, .phoneNumber-title{
  color: rgb(210,210,210);
  font-size: 24px;
  line-height: 28px;
}

.travel-detail-div, .traveller-detail-div{
  margin-top: 2vw;
  background: #3b8bc0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: white;
  padding: 0vw 0vw;

}
.traveller-detail-div{
  border-radius: 5px 5px 0px 0px;
}
.price-confirmation, .traveller-blue-line{
background: #26375C;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0px 0px 5px 5px;
padding-bottom: 4vw;
text-align: center;
}

.travel-split-up{
  background-color: rgb(65, 140, 191);
  border-bottom: 1px  #26375C solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 2vw;
}

.departure-and-destination-div, .booking-traveller-title{
  text-align: left;
font-size: 24px;
line-height: 28px;

}

.departure-details-div, .destination-details-div{
  text-align: left;
  flex-wrap: wrap;
flex-direction: row;
align-items: flex-start;
}

.traveller-detail-div{
  text-align: left;
padding: 3vw;
}