footer {
  background-color: #242424;
  color: #fff;
  height: min-content;
  display: grid;
  grid-template-columns: 1fr;
  bottom: 0;
  width: 100%;
  position: relative;
}

footer p {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
}
