@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

footer {
  background-color: #26375C;
  color: #fff;
  height: min-content;
  display: grid;
  grid-template-columns: 1fr;
  bottom: 0;
  position: relative;
}

footer p {
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.7vw;
  /* padding: 0.5rem; */
}
