/*
 main body
*/

main {
  display: grid;
  grid-template-columns: 1fr;
  min-width: 400px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  background-color: #fff;
  margin: -1.5rem 1.5rem;
  margin-bottom: 8rem;
  /*
  Shadow
  */
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  /*
  Rounded corners
  */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.wrapper h2 {
  padding: 1rem 1rem;
}

/*
Input mall
*/
.input {
  background-color: #f1f2f6;
  color: #aeadc4;
  border: none;
  font-size: 24px;
  padding: 0.3rem 0rem 0.3rem 1rem;

  /*
  Rounded corners
  */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.input:focus {
  outline: none;
}
/*
Input mall - color
*/
.input-color {
  background-color: #f1f2f6;
  color: #28475d;
  border: none;
  font-size: 24px;
  padding: 0.3rem 0rem 0.3rem 1rem;

  /*
  Rounded corners
  */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.input:focus {
  outline: none;
}

/*
 Search-bars
*/
.input-search {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 1rem;
}
.input-search input {
  width: 100%;
}

.bold{
  font-weight: bold !important;
}

/*
 Radio-btns
*/
.input-form {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 0rem 1rem;
}
.input-form div {
  text-align: center;
}

/*
 Ticket-input
*/
.input-tickets {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 1rem;
}
.input-tickets select {
  text-align: left;
  width: 100%;
}

/*
 Date-input
*/
.input-date {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 1rem;
}
.input-date input {
  text-align: left;
  width: 100%;
}

/*
 Search-btn
*/
.search-btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 1rem;
}
.search-btn button,
.search-btn input[type=submit] {
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  background-color: #1a883d;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 24px;
  padding: 10px 31px;
  text-decoration: none;
  border: none;
}

.search-btn input {
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  background-color: #1a883d;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 24px;
  padding: 10px 31px;
  text-decoration: none;
  border: none;
}
.search-btn button:hover,
.search-btn input[type=submit]:hover {
  background-color: #5cbf2a;
}
.search-btn button:active
.search-btn input[type=submit]:active {
  position: relative;
  top: 1px;
}

/*
 Booking-bars
*/
.input-booking {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 1rem;
}
.input-booking input {
  width: 100%;
}

.page-title {
  color: #28475d;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: .5rem 1rem;
}

.page-subtitle {
  color: #28475d;
  font-size: 24px;
  padding-bottom: .5rem;
}

.page-content{
  display: flex;
  flex-direction: column;
  color: #28475d;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: .5rem 1rem;
}

.section-title{
  font-weight: bold;
  font-size: 20px;
  padding: .5rem 0 0.2rem 0;
}

.section-content{
  padding: .3rem;
}