/*
 Sidebar-navigation
*/
.navbar-toggle {
  background-color: #242424;
  width: 100%;
  height: 80px;
  text-align: right;
}
.menu-bars {
  color: #fff;
  font-size: 36px;
  padding-right: 10px;
}

.nav-menu {
  background-color: #242424;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 3;
}
.nav-menu.active {
  left: 0;
  transition: 350ms;
  z-index: 3;
}

.nav-text {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 1rem;
  list-style: none;
}

.nav-text a {
  background-color: #3b78a8;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  align-items: center;
  padding: 5px 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1d5077;
}

.showPointer {
  cursor: pointer;
}
