.search-result-div {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.PossibleDeparture{

   padding: 2vw 0vw;
  margin: 2vw 5vw;
}
.search-result-button-css{
  background: #418CBF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border:none;
  border-radius: 12px;
   border-radius: 12px 12px 0px 0px;
   padding-top: 2%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
color: #FFFFFF;
}

.search-result-price-css{
  background: #26375C;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0px 0px 12px 12px;
padding: 2%;
text-align: center;
color: #FFFFFF;
}



.search-result-button:focus {
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  color: green;
  margin-top: 10px;
}

.current-total-price-div {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
